@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

@tailwind base;
@tailwind utilities;
@tailwind components;

#__nuxt { @apply contents }

* {
    font-family: 'Quicksand';
}

nav div:first-child {
    @apply md:mt-4 pt-2 md:pt-0;
}
nav div a {
    @apply flex items-center gap-3 p-2 rounded-md mx-2 font-semibold tracking-wide hover:bg-[#2a2b32];
}
nav div a.router-link-exact-active {
    @apply bg-[#343541];
}

progress::-webkit-progress-value {
    @apply appearance-none bg-blue-500;
}
progress::-moz-progress-bar {
    @apply appearance-none bg-blue-500;
}

/* form.submit */
form.submit input, textarea {
    @apply w-full bg-[#202C37] p-4 rounded-lg placeholder:text-white/50 text-white/90 focus:outline-none text-base;
}
form.submit div.input span {
    @apply text-sm font-bold text-white/50;
}
form.submit div.input {
    @apply flex flex-col gap-2 w-full;
}
form.submit div.input div.btn button, button.btnx, a.btnx {
    @apply px-3 pt-1 pb-1.5 rounded-md mb-2.5 mr-2 text-base bg-[#304050];
}

i.error {
    @apply text-red-400 font-semibold not-italic;
}

div.scroll::-webkit-scrollbar {
    width: 0px;
}
div.scroll {
    scrollbar-width: none;
}

.make-scroll {
    @apply whitespace-pre mt-1;
    scrollbar-width: 0;
}
.make-scroll>* {
    @apply text-white;
}
.make-sroll::-webkit-scrollbar {
    width: 0px;
}
h3 + p, h3 + a>p {
    @apply text-white/90 text-base;
}

routerlink {
    @apply hidden;
}